.card-body{
    /* display: flex; */
    border: 1px solid black;
    width: 300px;
    /* flex-direction: column; */
}

.img-container img{
    max-width: 100%;
    height: auto;
}

.card-body p, .card-body h1 {
    margin: 8px;
}
